<h1>All Artists</h1>

<%= link_to "86 the DJs", :sort => "only_bands" %>

<% @artists.each do |artist| %>
  <h3><%= artist.name %></h3>
  <p>Id: <%= artist.id %></p>
  <p>Full Band?: <%= artist.full_band %></p>
  <p>Cost: <%= number_to_currency(artist.cost) %></p>
  <p>Venue Id: <%= artist.venue_id %></p>
  <p>Created At: <%= artist.created_at %></p>
  <p>Updated At: <%= artist.updated_at %></p>
  <p><%= link_to "Update #{artist.name}",  "/artists/#{artist.id}/edit", method: :get %></p>
  <p><%= link_to "Delete #{artist.name}", "/artists/#{artist.id}", method: :delete %></p>
<% end %>