<h1><%= @venue.name %></h1>
<p>Id: <%= @venue.id %></p>
<p>Rank: <%= @venue.rank %></p>
<p>Decible Limit: <%= @venue.decible_limit %></p>
<p>Created At: <%= @venue.created_at %></p>
<p>Updated At: <%= @venue.updated_at %></p>