<h1><%= @venue.name %></h1>
<p>Id: <%= @venue.id %></p>
<p>Rank: <%= @venue.rank %></p>
<p>Decible Limit: <%= @venue.decible_limit %></p>
<p>Number of Associated Artists: <%= @venue.artist_count %></p>
<%= link_to "Associated Artists", "/venues/#{@venue.id}/artists" %>
<p>Created At: <%= @venue.created_at %></p>
<p>Updated At: <%= @venue.updated_at %></p>