<h1><%= @venue.name %></h1>

<%= link_to "Sort Alphabetically", :sort => "alphabetically" %>

<%= form_with url: "/venues/#{@venue.id}/artists", method: :get, local: true do |form| %>
  <%= form.label :cost, "Expensive Artists: " %>
  <%= form.text_field :cost %>
  <%= form.submit "Only return records with more than # cost" %>
<% end %>

<h2>Artists: </h2>

<% @artists.each do |artist| %>
  <h3><%= artist.name %></h3>
  <p>Id: <%= artist.id %></p>
  <p>Full Band?: <%= artist.full_band %></p>
  <p>Cost: <%= artist.cost %></p>
  <p>Venue Id: <%= artist.venue_id %></p>
  <p>Created At: <%= artist.created_at %></p>
  <p>Updated At: <%= artist.updated_at %></p>
  <p><%= link_to "Update #{artist.name}",  "/artists/#{artist.id}/edit", method: :get %></p>
  <p><%= link_to "Delete #{artist.name}", "/artists/#{artist.id}", method: :delete %></p>
<% end %>
<br><br>
<%= link_to "Create Artist", "/venues/#{@venue.id}/artists/new" %>
