<h1>Add New Artist</h1>
<%= form_with url: "/venues/#{@venue.id}/artists", method: :post, local: true do |form| %>
  <%= form.label :name, "Artist Name: " %>
  <%= form.text_field :name %>
  <br>
  <br>
  <%= form.label :full_band, "Full Band: " %>
  <%= form.text_field :full_band %>
  <br>
  <br>
  <%= form.label :cost, "Cost: " %>
  <%= form.text_field :cost %>
  <br>
  <br>
  <%= form.submit "Create New Artist" %>
<% end %>